body {
  background-color: black;
  color: white;
  font-family: "DM Serif Text", serif;
  font-size: 20pt;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.content input {
  background-color: black;
  color: white;
  border-color: white;
  font-size: 12pt;
  padding-top: 4px;
  padding-bottom: 4px;
}

.inactive {
  display: none;
}

.active {
  display: inline-block;
}

audio {
  display: none;
}
